:root {
  font-family: poppins;
  line-height: 1.5;
  /* font-weight: 900; */

  color-scheme: light dark;
  --color-round: rgb(99, 85, 190);
 /*  --color */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-round);
}
.container {
  background-color: var(--color-round);
  margin: 120px auto;
  max-width: 400px;
  box-shadow: -6px -6px 10px 0px rgb(90, 90, 93);
  border-radius: 10px;
  padding: 10px;
  transition: box-shadow 0.5s ease;
}

.container:hover {
  box-shadow: -2px -1px 33px 0px rgb(121, 121, 124);
}
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 15px;
  color: #fefeff7a;
}

h3 {
  margin: 10px 10px;
  color: white;
}

button {
  border-radius: 8px;
  margin: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  display: inline-block;
  padding: 0px 0px 0px 8px;
  width: 210px;
  /*  margin: px; */
  min-height: 30px;
  border: 3px solid black;
  border-radius: 5px;
}
.der {
  display: inline-block;
  margin-left: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f4f4f4;
    background-color: #ffffff;
  }

  body {
    background-color:rgb(218, 223, 226);
  }
  a:hover {
    color: var(--color-round);
  }
  h1 {
    /* display: flex; */
    text-shadow: 3px 3px 5px rgb(133, 133, 145);
    color: var(--color-round);
    margin: 15px;
  }
  h3 {
   /*  display: flex; */
    margin-left: 20px;
    color: darkblue;
  }
  button {
    color: var(--color-round);
    background-color: rgb(212, 217, 220);
    border: 2px solid  rgb(212, 217, 220);
    margin-left: 10px;
    transition: border 0.3s ease;
  }
  button:hover {
    border: 2px solid var(--color-round);
  }

  input{
    background-color: rgb(212, 217, 220);
    width: 218px;
    margin-bottom: 20px;
    /* height:40px; */
    border: none ;
  }
  .change {
    margin-bottom: 5px;
  }
  .container {
    /* margin: ; */
    background-color: rgb(108, 195, 242);
    border-radius: 10px;
    box-shadow: 9px 7px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    transition: box-shadow 0.5s ease;
  }

  
  .container:hover {
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.697);
  }
}
